h1 {
    color: whitesmoke
}

* {
   background-color: #808080; 
}

.header {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.menu{
    margin-top: 30px;
}

.grid{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content:flex-end;
}

p, h2  {
    text-align: center;
}

